* text=auto

Makefile text
*.c text diff=cpp
*.h text diff=cpp
*.py text diff=python

*.elf binary
*.hex binary
*.obj binary

*.pdf binary
*.svg binary
*.png binary
*.jpg binary
*.jpeg binary

*.json text

*.md text diff=markdown
*.txt text
